<footer class="bg-dark text-white mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Victoria University of Wellington CTF</h5>
                <p>Enhancing cybersecurity skills through Capture The Flag competitions.</p>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Home</a></li>
                    <li><a href="/about" class="text-white">About</a></li>
                    <li><a href="/events" class="text-white">Events</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Connect</h5>
                <ul class="list-unstyled">
                    <li><a href="https://github.com/vuwctf" class="text-white">GitHub</a></li>
                    <li><a href="/contact" class="text-white">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p class="mb-0">&copy; <%= new Date().getFullYear() %> Victoria University of Wellington CTF Team. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> 