<!-- Resources Hero Section -->
<section class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h1>Resources</h1>
                <p class="lead">Learning materials, tools, and resources for cybersecurity enthusiasts</p>
            </div>
        </div>
    </div>
</section>

<!-- Resources Section -->
<section class="container py-5">
    <div class="row mb-5">
        <div class="col-md-12">
            <h2>Getting Started with CTF</h2>
            <p>New to Capture The Flag competitions? These resources will help you get started:</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Beginner Guides</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://ctftime.org/ctf-wtf/" target="_blank">What is a CTF?</a></li>
                        <li><a href="https://trailofbits.github.io/ctf/" target="_blank">CTF Field Guide</a></li>
                        <li><a href="https://github.com/ctfs/resources" target="_blank">CTF Resources on GitHub</a></li>
                        <li><a href="https://docs.google.com/document/d/13xMBJdv-EMvrlk0dW4mq8-soB4_4-cAiU5NO9OXapBk/edit?tab=t.0" target="_blank">Cyber Tooling Cheatsheet</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Practice Platforms</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://picoctf.org/" target="_blank">picoCTF</a></li>
                        <li><a href="https://www.hackthebox.eu/" target="_blank">Hack The Box</a></li>
                        <li><a href="https://tryhackme.com/" target="_blank">TryHackMe</a></li>
                        <li><a href="https://ctflearn.com/" target="_blank">CTFlearn</a></li>
                        <li><a href="https://overthewire.org/wargames/" target="_blank">OverTheWire</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Competitions</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://ctftime.org/" target="_blank">CTFtime (Events Calendar)</a></li>
                        <li><a href="https://play.picoctf.org/" target="_blank">picoCTF</a></li>
                        <li><a href="https://ctf.hacker101.com/" target="_blank">Hacker101 CTF</a></li>
                        <li><a href="https://cybersecuritychallenge.org.nz/" target="_blank">NZCSC</a></li>
                        <li><a href="https://nationalcyberleague.org/" target="_blank">National Cyber League</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <h2>Learning Resources by Category</h2>
            <p>Explore resources for specific cybersecurity domains:</p>
        </div>
    </div>

    <!-- Web Security Tab -->
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Web Security</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Learning Resources</h5>
                            <ul>
                                
                                <li><a href="https://portswigger.net/web-security" target="_blank">PortSwigger Web Security Academy</a></li>
                                <li><a href="https://www.hacksplaining.com/" target="_blank">Hacksplaining</a></li>
                                <li><a href="https://owasp.org/www-project-top-ten/" target="_blank">OWASP Top 10</a></li>
                                <li><a href="https://github.com/OWASP/CheatSheetSeries" target="_blank">OWASP Cheat Sheet Series</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5>Tools</h5>
                            <ul>
                                <li><a href="https://www.zaproxy.org/" target="_blank">OWASP ZAP</a> - Web application security scanner</li>
                                <li><a href="https://portswigger.net/burp" target="_blank">Burp Suite</a> - Web vulnerability scanner</li>
                                <li><a href="https://github.com/sqlmapproject/sqlmap" target="_blank">SQLmap</a> - SQL injection tool</li>
                                <li><a href="https://www.kali.org/" target="_blank">Kali Linux</a> - Security-focused Linux distribution</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cryptography Tab -->
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Cryptography</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Learning Resources</h5>
                            <ul>
                                <li><a href="https://cryptohack.org/" target="_blank">CryptoHack</a></li>
                                <li><a href="https://www.coursera.org/learn/crypto" target="_blank">Cryptography I (Coursera)</a></li>
                                <li><a href="https://cryptopals.com/" target="_blank">Cryptopals Challenges</a></li>
                                <li><a href="https://www.youtube.com/playlist?list=PL6N5qY2nvvJE8X75VkXglSrVhLv1tVcfy" target="_blank">Practical Cryptography for Developers</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5>Tools</h5>
                            <ul>
                                <li><a href="https://gchq.github.io/CyberChef/" target="_blank">CyberChef</a> - Web-based encoding/decoding tool</li>
                                <li><a href="https://www.dcode.fr/" target="_blank">dCode</a> - Cipher tools collection</li>
                                <li><a href="https://github.com/Ganapati/RsaCtfTool" target="_blank">RsaCtfTool</a> - RSA multi attacks tool</li>
                                <li><a href="https://github.com/openssl/openssl" target="_blank">OpenSSL</a> - Cryptography library</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Reverse Engineering Tab -->
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Reverse Engineering</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Learning Resources</h5>
                            <ul>
                                <li><a href="https://beginners.re/" target="_blank">Reverse Engineering for Beginners</a></li>
                                <li><a href="https://github.com/michalmalik/linux-re-101" target="_blank">Linux RE 101</a></li>
                                <li><a href="https://malwareunicorn.org/workshops/re101.html" target="_blank">Malware Unicorn RE101</a></li>
                                <li><a href="https://crackmes.one/" target="_blank">Crackmes.one</a> - Practice challenges</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5>Tools</h5>
                            <ul>
                                <li><a href="https://ghidra-sre.org/" target="_blank">Ghidra</a> - Software reverse engineering framework</li>
                                <li><a href="https://github.com/radareorg/radare2" target="_blank">Radare2</a> - Reverse engineering framework</li>
                                <li><a href="https://x64dbg.com/" target="_blank">x64dbg</a> - Windows debugger</li>
                                <li><a href="https://binary.ninja/" target="_blank">Binary Ninja</a> - Binary analysis platform</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Binary Exploitation Tab -->
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Binary Exploitation</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Learning Resources</h5>
                            <ul>
                                <li><a href="https://exploit.education/" target="_blank">Exploit Education</a></li>
                                <li><a href="https://ropemporium.com/" target="_blank">ROP Emporium</a></li>
                                <li><a href="https://www.youtube.com/playlist?list=PLhixgUqwRTjxglIswKp9mpkfPNfHkzyeN" target="_blank">LiveOverflow Binary Exploitation</a></li>
                                <li><a href="https://www.youtube.com/playlist?list=PL-ymxv0nOtqkHr82Tv8QvxJt7uDx1ePP2" target="_blank">Binary Exploitation Tutorials</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5>Tools</h5>
                            <ul>
                                <li><a href="https://github.com/pwndbg/pwndbg" target="_blank">pwndbg</a> - GDB plugin for exploit development</li>
                                <li><a href="https://github.com/Gallopsled/pwntools" target="_blank">pwntools</a> - CTF framework and exploit development library</li>
                                <li><a href="https://github.com/angr/angr" target="_blank">angr</a> - Binary analysis platform</li>
                                <li><a href="https://github.com/radareorg/radare2" target="_blank">radare2</a> - Reverse engineering framework</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Forensics Tab -->
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Forensics</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Learning Resources</h5>
                            <ul>
                                <li><a href="https://www.sans.org/cyber-security-courses/computer-forensics-fundamentals/" target="_blank">SANS Forensics Fundamentals</a></li>
                                <li><a href="https://www.youtube.com/playlist?list=PL1H1sBF1VAKWM3wMCn6H5Ql6OrgI-vt7V" target="_blank">Digital Forensics Tutorials</a></li>
                                <li><a href="https://www.forensicswiki.org/wiki/Main_Page" target="_blank">Forensics Wiki</a></li>
                                <li><a href="https://www.dfir.training/" target="_blank">DFIR Training</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5>Tools</h5>
                            <ul>
                                <li><a href="https://www.sleuthkit.org/" target="_blank">The Sleuth Kit</a> - Digital forensics toolkit</li>
                                <li><a href="https://www.autopsy.com/" target="_blank">Autopsy</a> - Digital forensics platform</li>
                                <li><a href="https://www.wireshark.org/" target="_blank">Wireshark</a> - Network protocol analyzer</li>
                                <li><a href="https://www.volatilityfoundation.org/" target="_blank">Volatility</a> - Memory forensics framework</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- OSINT Tab -->
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">OSINT (Open Source Intelligence)</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Learning Resources</h5>
                            <ul>
                                <li><a href="https://www.osintframework.com/" target="_blank">OSINT Framework</a></li>
                                <li><a href="https://www.sans.org/cyber-security-courses/open-source-intelligence-gathering/" target="_blank">SANS OSINT Course</a></li>
                                <li><a href="https://www.youtube.com/playlist?list=PLrFPX1Vfqk3ehZKSFeb9pVIHqxqrNW8Sy" target="_blank">OSINT Techniques</a></li>
                                <li><a href="https://www.bellingcat.com/resources/how-tos/" target="_blank">Bellingcat Guides</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5>Tools</h5>
                            <ul>
                                <li><a href="https://www.maltego.com/" target="_blank">Maltego</a> - Link analysis tool</li>
                                <li><a href="https://github.com/sherlock-project/sherlock" target="_blank">Sherlock</a> - Username search tool</li>
                                <li><a href="https://github.com/laramies/theHarvester" target="_blank">theHarvester</a> - Email and domain search</li>
                                <li><a href="https://github.com/Greenwolf/social_mapper" target="_blank">Social Mapper</a> - Social media analysis</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Network Security Tab -->
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Network Security</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Learning Resources</h5>
                            <ul>
                                <li><a href="https://www.cybrary.it/course/network-security/" target="_blank">Cybrary Network Security</a></li>
                                <li><a href="https://www.coursera.org/learn/network-security" target="_blank">Coursera Network Security</a></li>
                                <li><a href="https://www.youtube.com/playlist?list=PLhfrWIlLOoKMe1Ue0IdeULQvEgCgq2wXq" target="_blank">Network Security Tutorials</a></li>
                                <li><a href="https://www.hackers-arise.com/network-security" target="_blank">Hackers-Arise Network Security</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5>Tools</h5>
                            <ul>
                                <li><a href="https://nmap.org/" target="_blank">Nmap</a> - Network scanning tool</li>
                                <li><a href="https://www.wireshark.org/" target="_blank">Wireshark</a> - Network protocol analyzer</li>
                                <li><a href="https://www.metasploit.com/" target="_blank">Metasploit</a> - Penetration testing framework</li>
                                <li><a href="https://www.kali.org/tools/ettercap/" target="_blank">Ettercap</a> - Network security tool</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- VUW CTF Resources Section -->
<section class="container py-5">
    <div class="row mb-4">
        <div class="col-md-12">
            <h2>VUW CTF Materials</h2>
            <p>Resources created by our team for the Victoria University community:</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Workshop Materials</h4>
                    <p class="card-text">Slides and practice files from our past workshops:</p>
                    <ul>
                        <li>TBA</li>
                        <li>TBA</li>
                        <li>TBA</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Access Materials</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Past CTF Challenges</h4>
                    <p class="card-text">Challenges and solutions from our previous competitions:</p>
                    <ul>
                        <li>TBA</li>
                        <li>TBD</li>
                        <li>TBD</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Access Challenges</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="container-fluid py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Want to Contribute?</h2>
                <p class="lead mb-4">Have resources or materials you'd like to share with the community?</p>
                <a href="/contact" class="btn btn-primary btn-lg">Contact Us</a>
            </div>
        </div>
    </div>
</section> 